<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<button><a href="/crearcategorias/">Crear Categorias </a></button>
<table id="categorias" class="table  table-bordered table-striped text-center mt-4">
  <thead>
    <tr class="bg-primary text-white"></tr>
    <th scope="col">id</th>
    <th scope="col">nombre</th>
    <th scope="col">estado</th>
    <th scope="cpl">acciones</th>
  </thead>
  <tbody>
    <% categoria.forEach((categorias)=>{ %>
      <tr>
        <td>
          <%= categorias._id %>
        </td>
        <td>
          <%= categorias.nombre %>
        </td>
        <td>
          <%= categorias.estado %>
        </td>
        <th> <a href="/editarcategorias/<%= categorias._id %>" class="btn btn-info"> editar<i class="fas fa-edit"></i></a></th>
       
        <th><a onclick="confirmar('<%= categorias._id %>')" class="btn btn-danger">eliminar<i class="fas fa-trash-alt"></i></a></th>
        <% }) %>
      </tr>
</table>
<script>
  function confirmar(_id) {
    Swal.fire({
      title: 'desea eliminar el registro',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d5',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Confrimar'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location = '/eliminar/'+_id;

      }
    })
  }
</script>

</tbody>